html, body{
	height: 100%;
	background-color: #7B2B2B;
	color: #00CFB9;
}
.container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
h2{
	font-size: 35px;
}
.generate-btn{
	margin-top: 15px;
	height: 60px;
	width: 400px;
	font-size: 20px;
	background-color: #00CFB9;
	border-radius: 15px;

}
.content{
	margin-top: 25px;
	font-size: 30px;
}
@media screen and (max-width: 600px){
	h2{
		font-size: 25px;
	}
	.generate-btn{
		margin-top: 15px;
		height: 45px;
		width: 250px;
		font-size: 13px;
	}
	.content{
		font-size: 20px;
	}
}
@media screen and (max-width: 435px){
	h2{
		font-size: 20px;
	}
	.generate-btn{
		margin-top: 15px;
		height: 40px;
		width: 230px;
		font-size: 10px;
	}
	.content{
		font-size: 15px;
	}
}
@media screen and (max-width: 340px){
	h2{
		font-size: 15px;
	}
	.generate-btn{
		margin-top: 10px;
		height: 32px;
		width: 200px;
		font-size: 8px;
	}
	.content{
		font-size: 10px;
	}
}